.third{
    background-image: url(./images/school.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    display: flex;
}
.header{
    font-size: 3rem;
    color: white;
    margin:1rem;
    padding:1rem;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.grids{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
    width:100%;
    margin:1rem;
    margin-top:6rem;

}
.cols{
    margin:1rem;
    background-color: rgba(124, 47, 3, 0.548);
    display:flex;  
    color:white;
    justify-content: space-between;
    padding:1rem;
    border-radius: 10px;
    height:50%;
}
.fig{
    padding:1rem;
    justify-content: space-between;
    margin: 1rem;
}
.link{
    padding:1rem;
    margin: 1rem;
}