/* .intro styles */
.intro {
  position: relative; /* Allow positioning of elements within */
  height: 100vh; /* Fill viewport height */
  display: flex; /* Flexbox for easy layout */
  flex-direction: column; /* Stack elements vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  text-align: center; /* Center text within elements */
  overflow: hidden;
  background-image:url(./images/home.png);
  background-size: cover;
  background-position: center;
  /* Hide overflow if needed */
}
/*Container styles*/
.container {
  display: flex;
    left:0;
    align-items: center;
    margin-top:-1rem;
    margin:0.5rem;
    padding:2rem;
    @media (max-width: 768px) {
      flex-direction: column; /* Single column layout on smaller screens */
    }

}


/* .h1 styles */
.h1 {
  font-size: 6rem; /* Adjust font size as needed */
  color:black;
  border-radius: 10px;
  @media (max-width: 768px) {
    flex-direction: column; 
    font-size:3rem;/* Single column layout on smaller screens */
  }  /* Space out headings */
}
.h2{
  color:white;
  font-size:3rem;
justify-content: left;

}
.p{
  font-size:1.5rem;
  color:rgb(238, 255, 0);
  font-style: italic;
  background-color: #0C7C59;
  margin:0.3rem;
  border-radius: 10px;
}
.right {
  padding-top: 35rem; /* Default padding for larger screens */

  @media (max-width: 768px) {
    padding-top: 10rem; /* Adjusted padding for smaller screens */
  }
}



@media (max-width: 768px) { /* Target iPhone 14 Pro Max */
  .intro {
    font-size: 2rem; /* Adjust base font size for better readability */
  }

  .container {
    margin: 1rem;
    padding:1rem; /* Adjust margins for better spacing */
  }

  .h1 {
    font-size: 5rem; /* Reduce heading font size */
  }
  .h2{
    display:flex;
    flex-direction: column;
    font-size:4rem;
  }
  

  .p {
    font-size:2rem; /* Slightly reduce paragraph font size */
  }
}