.container{
    background-image: url(./images/k.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    width:100vw;
    background-position: center;
}
.rectangle{
    color:green;
}